<img class="ranked-emblem" src="/ranked-emblems/<%= solo.tier %>.png" alt="ranked-emblem">
<div class="solo-rank-tier">
  <span class="solo-tier"><%= solo.tier %> <%= solo.rank %></span>
  <span class="solo-lp"><%= solo.leaguePoints %>lp</span>
</div>
<div class="solo-data">
  <span class="solo-win"><%= solo.wins %>W</span>
  <span class="solo-loss"><%= solo.losses %>L</span>
</div>