<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../layout/head'); -%>
  <link rel="stylesheet" href="/css/home/showrecord.css">
  <script src="/js/home/fixed.js"></script>
  <script src="/js/home/main.js" defer></script>
  <script src="/js/home/showrecord.js" defer></script>
  <title>LoL Record</title>
</head>

<body>
  <div class="warpper">

    <!-- header -->
    <div class="main__header">
      <%- include('../layout/header'); -%>
    </div>

    <!-- content -->
    <div class="main__content">

      <div class="content__userprofile">
        <div class="profile__left">
          <%- include('../profile/user-info/userinfo'); -%>
        </div>
        <div class="profile__right">
          <div class="solo-rank">
            <% if (solo) { %>
              <%- include('../profile/solo-rank/soloranked'); -%>
            <% } else { %>
              <%- include('../profile/solo-rank/solounranked'); -%>
            <% } %>
          </div>
          <div class="free-rank">
            <% if (free) { %>
              <%- include('../profile/free-rank/freeranked'); -%>
            <% } else { %>
              <%- include('../profile/free-rank/freeunranked'); -%>
            <% } %>
          </div>
        </div>
      </div>

      <div class="matchrecord">
      <% if (info.matchList && matchCount) { %>
        <div class="matchrecord__left"></div>
        <div class="matchrecord__right"><div id="div_load_image"><i class="fa-solid fa-spinner"></i></div><% for(let i = 0; i < info.matchList.length; i++) { %><% if (i == matchCount) break %><div id="match<%= i %>-wrapper" class="match-wrapper"><div id="match-<%= i %>" class="match-record-wrapper" data-server="<%= info.reqServer %>" data-matchid="<%= info.matchList[i] %>"></div></div><% } %><button class="more">더 보기</button></div>
      <% } else { %>
        <div class="no-match-record">
          <i class="fa-regular fa-circle-xmark"></i>
          <span class="no-match">
            기록된 전적이 없습니다.
          </span>
        </div>
      <% } %>
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer class="main__footer">
    <%- include('../layout/footer'); -%>
  </footer>
</body>

</html>