<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../layout/head'); -%>
  <link rel="stylesheet" href="/css/home/showrecord.css">
  <script src="/js/home/fixed.js"></script>
  <script src="/js/home/main.js" defer></script>
  <script src="/js/home/showrecord.js" defer></script>
  <title>LoL Record</title>
</head>

<body>
  <div class="warpper">

    <!-- header -->
    <div class="main__header">
      <%- include('../layout/header'); -%>
    </div>

    <!-- content -->
    <div class="main__content">

      <div class="content__userprofile">
        <div class="profile__left">
          <%- include('../profile/user-info/userinfo'); -%>
        </div>
        <div class="profile__right">
          <div class="solo-rank">
            <% if (solo) { %>
              <%- include('../profile/solo-rank/soloranked'); -%>
            <% } else { %>
              <%- include('../profile/solo-rank/solounranked'); -%>
            <% } %>
          </div>
          <div class="free-rank">
            <% if (free) { %>
              <%- include('../profile/free-rank/freeranked'); -%>
            <% } else { %>
              <%- include('../profile/free-rank/freeunranked'); -%>
            <% } %>
          </div>
        </div>
      </div>

      <div class="matchrecord">
      <% if (info.matchList) { %>
        <div id="div_load_image" style="position:absolute; top:50%; left:50%;width:0px;height:0px; z-index:9999; background:#f0f0f0; filter:alpha(opacity=50); opacity:alpha*0.5; margin:auto; padding:0; text-align:center">
          <img src="/loading/loading.gif" style="width:100px; height:100px;">
        </div>
        <div class="matchrecord__left"></div>
        <div class="matchrecord__right">
        <% for(let i = 0; i < info.matchList.length; i++) { %>
			    <div id="match<%= i %>-wrapper" class="match-wrapper">
			      <div id="match-<%= i %>" class="match-record-wrapper" data-server="<%= info.reqServer %>" data-matchid="<%= info.matchList[i] %>"></div>
			    </div>
          <% } %>
      </div>        
      <% } else { %>
        <div class="notmatchrecord">
          <span class="nomatch">전적이 없습니다.</span>
        </div>
      <% } %>
      </div>
    </div>
	 
    <!-- footer -->
    <div class="main__footer">
      <%- include('../layout/footer'); -%>
    </div>

  </div>
</body>

</html>