<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../layout/head'); -%>
  <link rel="stylesheet" href="/css/home/showrecord.css">
  <script src="/js/home/main.js" defer></script>
  <title>LoL Record</title>
</head>

<body>
  <div class="warpper">

    <!-- header -->
    <div class="main__header">
      <%- include('../layout/header'); -%>
    </div>

    <!-- content -->
    <div class="main__content">
      <div class="content__userprofile">
        <div class="profile__iconbox">
          <p><%= userinfo.profileIconId %></p>
        </div>
        <div class="profile__name_level">
          <p><%= userinfo.name %></p>
          <p><%= userinfo.summonerLevel %></p>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="main__footer">
      <%- include('../layout/footer'); -%>
    </div>

  </div>
</body>

</html>