<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../layout/head'); -%>
  <link rel="stylesheet" href="/css/home/showrecord.css">
  <script src="/js/home/main.js" defer></script>
  <script src="/js/home/showrecord.js" defer></script>
  <title>LoL Record</title>
</head>

<body>
  <div class="warpper">

    <!-- header -->
    <div class="main__header">
      <%- include('../layout/header'); -%>
    </div>

    <!-- content -->
    <div class="main__content">
      <div class="content__userprofile">
        <div class="profile__left">
          <div class="profile__iconbox">
            <p><%= userinfo.profileIconId %></p>
          </div>
          <div class="profile__name_level">
            <p><%= userinfo.summonerName %></p>
            <p class="tier"><%= userinfo.tier %></p>
            <p class="rank"><%= userinfo.rank %></p>
          </div>
        </div>
        <div class="profile__right"></div>
      </div>
    </div>

    <!-- footer -->
    <div class="main__footer">
      <%- include('../layout/footer'); -%>
    </div>

  </div>
</body>

</html>