<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../layout/head'); -%>
  <link rel="stylesheet" href="/css/home/showrecord.css">
  <script src="/js/home/fixed.js"></script>
  <script src="/js/home/main.js" defer></script>
  <script src="/js/home/showrecord.js" defer></script>
  <title>LoL Record</title>
</head>

<body>
  <div class="warpper">

    <!-- header -->
    <div class="main__header">
      <%- include('../layout/header'); -%>
    </div>

    <!-- content -->
    <div class="main__content">

      <div class="content__userprofile">
        <div class="profile__left">
          <%- include('../profile/user-info/userinfo'); -%>
        </div>
        <div class="profile__right">
          <div class="solo-rank">
            <% if (solo) { %>
              <%- include('../profile/solo-rank/soloranked'); -%>
            <% } else { %>
              <%- include('../profile/solo-rank/solounranked'); -%>
            <% } %>
          </div>
          <div class="free-rank">
            <% if (free) { %>
              <%- include('../profile/free-rank/freeranked'); -%>
            <% } else { %>
              <%- include('../profile/free-rank/freeunranked'); -%>
            <% } %>
          </div>
        </div>
      </div>

      <div class="matchrecord">
      <% if (info.matchList) { %>
        <div class="matchrecord__left"></div>
        <div class="matchrecord__right">
          <% for(let i = 0; i < info.matchList.length; i++) { %>
            <div class="match-record-wrraper" data-server="<%= info.reqServer %>" data-matchid="<%= info.matchList[i] %>">
              <span class="record-<%= i %>"><%= info.matchList[i] %></span>
            </div>
          <% } %>
        </div>        
      <% } else { %>
        <div class="notmatchrecord">
          <span class="test1">전적이 없습니다.</span>
        </div>
      <% } %>
      </div>
    </div>

    <!-- footer -->
    <div class="main__footer">
      <%- include('../layout/footer'); -%>
    </div>

  </div>
</body>

</html>