<img class="ranked-emblem" src="/ranked-emblems/<%= free.tier %>.png" alt="ranked-emblem">
<div class="free-rank-tier">
  <span class="free-tier"><%= free.tier %> <%= free.rank %></span>
  <span class="free-lp"><%= free.leaguePoints %>lp</span>
</div>
<div class="free-data">
  <span class="free-win"><%= free.wins %>W</span>
  <span class="free-loss"><%= free.losses %>L</span>
</div>